/*
CE STYLE EST RESERVE A LA PAGE BOUTIQUE
*/


article{

    padding: 0px;
    background: url(/img/Foret-vue-de-haut.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(50px);
 
}

article > div{
    box-shadow: black 0px 0px 10px;
}

article h1{
    font-size: xx-large;
}

div.responsive{
    display: flex;
    
}

article img{
    width: auto;
    border-radius: 20%;
}



/*
Article 1
*/

article div#art1{
    background:  linear-gradient(170deg , rgb(142, 200, 128) , rgb(138, 255, 112));
    margin-block: 80px;
    border-top-right-radius: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 5px;
    color: rgb(0, 0, 0);
    text-align: justify;
    line-height: 1.8;
}



/*
Article 2
*/
article div#art2{
    width: auto;
    background: linear-gradient(70deg , rgb(128, 192, 200) , rgb(103, 237, 255));
    margin-block: 80px;
    border-top-right-radius: 5px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 1.8;
}




/*
Article 3
*/
article div#art3{
    background:  linear-gradient(170deg , rgb(142, 200, 128) , rgb(126, 240, 101));
    margin-block: 80px;
    border-top-right-radius: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 1.8;
}

.ident:hover{
    border-left: solid rgb(54, 54, 54) 2px ;
    cursor: pointer;
}


/*
##################
Media Quarys
##################
*/

/*
 screen width < 1000px
*/
@media (min-width:0px){
    article div#art2 img , article div#art3 img{
        width: 80%;
    }


    article div{
        margin-inline: 30px;
        padding: 10px;
    }

    article div .indent{
        padding-left: 10px;
    }

    .responsive{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

/*
 screen width > 1000px
*/

@media (min-width:1000px){

    article div{
        margin-inline: 50px;
        padding: 20px;
    }

    

    article div#art2 img , article div#art3 img{
        width: 500px;
        margin-inline: 10px;
    }

    article div .indent{
        margin-inline: 20px;
        padding-left: 20px;
    }

    .responsive{
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }



    
    
    
    
}



